/* MageBridge: replace by h1 colors*/
#magebridge-content .opc .step-title .number,
#magebridge-content h2,
#magebridge-content .cart {color: #449DBE;}
#magebridge-content .fieldset .legend {border-color: #449DBE;}

button.button span {color:#ffffff;}